# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
build*

# Visual Studio
.vs

Debug
MinSizeRel
Release
RelWithDebInfo

*.dir

ZERO_CHECK.*
INSTALL.*
*.vcxproj*
*.sln

# Cache
ShaderCache

# Assets
assets

# Other
imgui.ini
