# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
build*

# Visual Studio
.vs
*.dir
ZERO_CHECK.*
INSTALL.*
*.vcxproj*
*.sln
x64

# Build Artifacts
*.pdb
*.exp
*.lib
*.dll
*.exe

# Cache
ShaderCache

# Assets
assets
config

# Other
Path-Tracing-Tests/Shaders/Application
