# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
build

# Visual Studio
.vs

Debug
MinSizeRel
Release
RelWithDebInfo

*.dir

ZERO_CHECK.*
INSTALL.*
*.vcxproj*
*.sln

# Shader binaries
*.spv*

# Assets
assets

# Other
imgui.ini